/* 
    Document   : main
    Created on : Feb 22, 2015, 10:07:21 AM
    Author     : christopherdelph
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body
{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F1F1F1;
    background-repeat: no-repeat;

}
#pageHeader
{
    font-size: 1em;
    text-align: right;
    border-bottom: 1px #888888  solid;
    height:1.25em;
}
#pageFooter
{
    font-size: xx-small;
    text-align: center;
}
nav
{
    font-size: 2em;
    text-align: center;
    margin:15px;
}
section
{
        padding:5px;
    
}
section header
{
    font-size: 3em;
    margin-top: 20px;
    text-shadow: 7px 7px 10px #888888;

}
article
{
    /*border-bottom: 1px #FF3300 solid;*/
    border: 5px whitesmoke solid;
    box-shadow: 10px 10px 5px #888888;
    padding:5px;
    overflow: hidden;
    margin-bottom: 10px;
}
article header
{
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: -10px;
    text-shadow: none;
}
article .infoBox
{
    margin-left: 5px;
    /*width:600px;*/
    float:left;
    /*border: 1px #FF3300 solid;*/
}
article .prodBox
{
    /*width:415px;*/
    float:left;
    text-align: left;
    padding-left:5x;
    /*border: 1px #FF3300 solid;*/
}
label
{
    width:225px;
    display:block;
    text-align: right;
    float: left;
    padding-right: 10px;
}
#featurePic
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

